<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Friends Venture</title>
        <script>
            function myFunction() {
              document.getElementById("lname").value = "Paragraph changed.";
            }
        </script>
    </head>
    <body>
        <style>
            table, th, td {
                border:1px solid black;
<!--                margin-top: 1px;-->
<!--                margin-right: 1px;-->
<!--                margin-left: 1px;-->
            }
            table{
                width: 100%
            }
        </style>
        <div>
            <form style="margin-bottom: 10px" method="post" action="/transaction/">
                {% csrf_token %}
                <label for="partner">Partner Name:</label><br>
                <select id="partner" name="partner" required>
                    <option disabled selected value> -- select an option -- </option>
                    {% for item in partners %}
                    <option value="{{ item.id }}">{{ item.nick_name }}</option>
                    {% endfor %}
                </select>   <br><br>
                <label for="type">Transaction Type:</label><br>
                <select id="type" name="type" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="credit">Credit</option>
                    <option value="debit">Debit</option>
                </select>   <br><br>
                <label for="amount">Amount</label><br>
                <input type="number" id="amount" name="amount" required><br><br>
                <label for="date">Given Date</label><br>
                <input type="date" id="date" name="date" required><br><br>
                <label for="given_by">Given By</label><br>
                <input type="text" id="given_by" name="given_by" required><br><br>
                <label for="purpose">Purpose</label><br>
                <input type="text" id="purpose" name="purpose"><br><br>
                <label for="updated_by">Updated By:</label><br>
                <input type="text" id="updated_by" name="updated_by" required><br><br>
                <label for="note">Note:</label><br>
                <input type="text" id="note" name="note"><br><br>
                <input type="submit" value="Submit">
            </form>
            <table>
                <tr>
                    <th>Partner Name</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Given By</th>
                    <th>Purpose</th>
                    <th>Note</th>
                    <th>Updated By</th>
                    <th>Add Date</th>
                    <th>Action</th>
                </tr>
                {% for item in transactions %}
                <tr>
                    <td>{{item.partner.first_name}} {{item.partner.last_name }}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.given_by}}</td>
                    <td>{{item.purpose}}</td>
                    <td>{{item.note}}</td>
                    <td>{{item.updated_by}}</td>
                    <td>{{item.created_at}}</td>
                    <td style="padding-left: 10px">
                        <a href="#" onclick="">LINK</a>
                        <a style="color: green" href=""> Edit</a>
                        <button style="color: red" onclick="deleteTransaction({{ item.id }})"> Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <script>
        function deleteTransaction(id) {
            if (confirm("Do you really want to delete this Transaction! ??")) {
                window.location.href='/delete-transaction/'+id;
            }
            else {
                txt = "Do whatever!";
            }
        }
    </script>
    </body>
</html>
